<apex:page sidebar="false" showHeader="false" standardController="Case" lightningStylesheets="true" standardStylesheets="false"  applyBodyTag="false" applyHtmlTag="false" docType="html-5.0">
  <html>
    <head>
       <title>Cierre de Caso</title>    
    </head>
    <body>
      <apex:includeLightning />
      <div id="CsAssigmentCase"></div>
      
      <script>
        var recordId = "{!Case.Id}"
        $Lightning.use("c:CS_CASEASSIGMENT_LIGHTNING_APP", function()
        {
            var attributes = { recordId : recordId };
            $Lightning.createComponent("c:CS_CASEASSIGMENT_LIGHTNING_COMPONENT", attributes, "CsAssigmentCase", function(cmp) {});
        });
      </script>
        
    </body>
  </html> 
</apex:page>