<apex:page id="id"
           docType="html-5.0"
           standardController="ONTAP__Route__c"
           recordSetVar="routes"
           extensions="VisitControlRetraceToursCtrl"
           showHeader="false"
           standardStylesheets="false"
           lightningStylesheets="true"
           sidebar="false"
           applyBodyTag="false"
           applyHtmlTag="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <title>{!$Label.VisitContol_RetraceTitlePage}</title>
            <apex:slds />
            <style>
                .msgIcon {
                display: none!important
                }
                .customMessage * {
                color: #fff!important
                }
                .customMessage {
                margin: 5px 0!important;
                max-width: 1280px;
                opacity: 1!important;
                width: 100%;
                font-size: 12px;
                border: 0px;
                padding-left: 10px;
                }
                .message {
                opacity: .1
                }
            </style>
            <script>
            
            function alertsHandler(){
                var x = document.getElementsByClassName("errorM3");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].className += "slds-notify slds-notify--alert slds-theme--error customMessage";
                }
            }
            </script>
            
        </head>
        <body class="slds-scope" style="margin: 0 auto !important;" onload="alertsHandler()">
            <apex:form id="demo" >
                <apex:pageBlock mode="edit">
                    <div class="slds-page-header">
                        <div class="slds-page-header__row">
                            <div class="slds-page-header__col-title">
                                <div class="slds-media">
                                    <div class="slds-media__figure">
                                        <span class="slds-icon_container slds-icon-standard-opportunity">
                                            <svg class="slds-icon slds-icon-standard-drafts" aria-hidden="true">
                                                <use xlink:href="{! URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#drafts')}"/>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="slds-media__body">
                                        <div class="slds-page-header__name">
                                            <div class="slds-page-header__name-title">
                                                <h1>
                                                    <span>Rutas</span>
                                                    <span class="slds-page-header__title slds-truncate" title="Recently Viewed">{!$Label.VisitContol_RetraceTitlePage}</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-page-header__col-actions">
                                <div class="slds-page-header__controls">
                                    <div class="slds-page-header__control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-page-header__row">
                            <div class="slds-page-header__col-meta">
                                <p class="slds-page-header__meta-text">
                                    <div class="slds-button-group" role="group">
                                        <apex:input label="{!$Label.VisitContol_DelayDay}" title="{!$Label.VisitContol_DelayDay}" type="date" id="selected_date" value="{!DateSelected}" size="10" />
                                        <apex:selectList value="{!typeOfSkiptSelected}" multiselect="false" size="1">
                                            <apex:selectOptions value="{!typeOfskipt}"/>
                                        </apex:selectList>
                                        <apex:commandButton value="{!$Label.HONES_Save}" styleClass="slds-button slds-button_neutral" action="{!saveList}"/>
                                        <apex:commandButton value="{!$Label.HONES_Cancel}" styleClass="slds-button slds-button_neutral" action="{!cancel}"/></div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-gutters">
                    <div class="slds-col">
                        <apex:pageMessages />
                    </div>
                </div>
                
                <div class="slds-grid slds-gutters">
                    <div class="slds-col">
                        <apex:pageBlockTable id="pb" value="{!RoutesToRetrace}" var="a" styleClass="slds-table slds-table--bordered slds-table--striped">
                            <apex:column value="{!a.Name}"/>
                            <apex:column value="{!a.ONTAP__SalesOfficeId__c}"/>
                            <apex:column value="{!a.ONTAP__RouteId__c}" />
                            <apex:column value="{!a.ONTAP__RouteName__c}"/>
                            <apex:column value="{!a.RouteManager__c}"/>
                        </apex:pageBlockTable>
                    </div>
                </div>
                <div class="slds-grid slds-gutters">
                    <div class="slds-col" style="text-align: left;">
                        
                        <apex:outputText >{!(pageNumber * size)+1-size}-{!IF((pageNumber * size)>noOfRecords, noOfRecords,(pageNumber * size))} of {!noOfRecords}</apex:outputText>
                        <apex:outputPanel style="color:#4AA02C;font-weight:bold">
                            <apex:actionStatus id="fetchStatus" startText="Cargando..." stopText=""/>
                        </apex:outputPanel>
                    </div>
                    <div class="slds-col"  style="text-align: right;">
                        <div class="slds-button-group" role="group">
                            <apex:commandButton status="fetchStatus" reRender="pb" value="|<" action="{!first}" disabled="{!!hasPrevious}" title="{!$Label.VisitContol_FirstPage}" styleClass="slds-button slds-button_neutral"/>
                            <apex:commandButton status="fetchStatus" reRender="pb" value="<" action="{!previous}" disabled="{!!hasPrevious}" title="{!$Label.VisitContol_PreviousPage}" styleClass="slds-button slds-button_neutral"/>
                            <apex:commandButton status="fetchStatus" reRender="pb" value=">" action="{!next}" disabled="{!!hasNext}" title="{!$Label.VisitContol_NextPage}" styleClass="slds-button slds-button_neutral"/>
                            <apex:commandButton status="fetchStatus" reRender="pb" value=">|" action="{!last}" disabled="{!!hasNext}" title="{!$Label.VisitContol_LastPage}" styleClass="slds-button slds-button_neutral"/>
                            <apex:commandButton status="fetchStatus" reRender="pb" value="{!$Label.VisitContol_Refresh}" action="{!refresh}" title="{!$Label.VisitContol_RefreshPage}" styleClass="slds-button slds-button_neutral"/>
                        </div>
                    </div>
                    
                </div>
                <br></br>
            
            <div class="slds-grid slds-gutters">
                <div class="slds-col">
                    <apex:pageBlock rendered="{!sizeErrors!= NULL && sizeErrors>0}" title="{!$Label.VisitContol_ErrorTitle}">
                        <apex:pageBlockTable styleClass="slds-table slds-table--bordered slds-table--striped" value="{!routesErrorList}" var="e">
                            <apex:column headerValue="{!$Label.VisitContol_ErrorHeader}" value="{!e.route}"/>

                            <apex:column headerValue="Error"  styleClass="word-break: break-word; white-space: normal;" value="{!e.error}"/>
                        </apex:pageBlockTable>
                    </apex:pageBlock>
                </div>
            </div>
            
            
        </apex:pageBlock>
    </apex:form>
</body>
</html>
</apex:page>