.THIS.hide {
 	display: none;
 }
 .THIS .slds-select_container{
  position: relative;
 }
 .THIS.btn {
 	margin-bottom: 10px;
 }

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field{
  border: 1px solid #dce4ec;
  border-radius: 2px;
}